* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header {
  padding: 20px;
  font-family: ﻿AdobeInvisFont, Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
  word-spacing: 80px;
  font-weight: bold;
}

.header a {
  text-decoration: none;
  color: #16a085;
  text-transform: uppercase;
}

.text-main {
  padding: 65px 105px 85px 105px;
  background-color: #f5f6f7;
  font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, Courier;
  font-size: 14pt;
  text-align: center;
  color: rgba(55, 55, 55, 255);
  line-height: 1.5;
  word-spacing: 1px;
}

.text-main p {
  margin-bottom: 30px;
}

.btn {
  text-align: center;
  background-color: #16a085;
  font-size: 10pt;
  font-family: GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, sans-serif;
  color: #fff;
  text-transform: uppercase;
  width: 192px;
  height: 51px;
  letter-spacing: 2px;
  border-radius: 3px;
  border: none;
}

.footer p {
  text-align: right;
  padding: 47px 65px 45px 0px;
  font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, Courier, sans-serif;
}
